<div class="container">
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <!--User name-->
        <input type="text" placeholder="username*" class="form-control mt-4" formControlName="fullName">
        <!--Gender-->
        <div>
            <label class="col-form-label">Gender</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="male" type="radio" name="gender" class="form-check-input" value="Male"
                formControlName="gender"><label for="male" class="form-check-label">Male</label>
        </div>

        <div class="form-check form-check-inline">
            <input id="female" type="radio" name="gender" class="form-check-input" value="Female"
                formControlName="gender"><label for="female" class="form-check-label">Female</label>
        </div>

        <div class="form-check form-check-inline">
            <input id="other" type="radio" name="gender" class="form-check-input" value="Other"
                formControlName="gender"><label for="other" class="form-check-label">Other</label>
        </div>
        <!--DOB-->
        <div class="row g-3 align-items-center mt-4">
            <div class="col-auto">
                <label for="dob" class="col-form-label">Date of birth</label>
            </div>
            <div class="col-auto">
                <input type="date" id="dob" class="form-control" formControlName="date">
            </div>
        </div>
        <!--Email input-->
        <input type="email" placeholder="email*" class="form-control" formControlName="email">
        <div *ngIf="addUserForm.get('email').touched && addUserForm.get('email').hasError('required')">Email required
        </div>
        <!--contact info-->
        <div class="row">
            <div class="col">
                <input type="text" placeholder="contact number" class="form-control" formControlName="contact">
                <div *ngIf="addUserForm.get('contact').touched && addUserForm.get('contact').hasError('notNumber')">Only
                    numbers allowed</div>
            </div>
            <div class="col">
                <!--country select-->
                <select class="form-select" class="form-control" formControlName="selectCountry">
                    <option selected>Select Country</option>
                    <option value="US">United states</option>
                    <option value="IND">India</option>
                    <option value="AUS">Australia</option>
                    <option value="CN">China</option>
                    <option value="UK">United kingdom</option>

                </select>
            </div>

        </div>
        <!--Add user button-->
        <div class="row justify-content-md-center">
            <button type="submit" class="btn btn-primary mt-4" id="liveToastBtn">Add user</button>
        </div>


    </form>
   