<div id="profile">
    <table class="table caption-top" >
        <caption>Your profile</caption>
       <tr class="table-primary">
        <th>Name:</th>
        <td>Tim david</td>
       </tr> 
       <tr class="table-secondary">
        <th >contact number:</th>
        <td>987456321</td>
       </tr> 
       <tr class="table-info">
        <th >Email id:</th>
        <td>angularpractice123@gmail.com</td>
       </tr> 
       <tr class="table-warning">
        <th >Account status:</th>
        <td>Active</td>
       </tr> 
    </table>
</div>
<router-outlet></router-outlet>
