.userContainer{
    width: 150px;
    height: 100vh;
    background-color:grey;
    align-items: center;
    margin-top: 0%;

}

.user{
    text-decoration: none;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    color: white !important;
    margin: 15px 5px;
}

.user1{
    text-decoration: none;
    font-size:medium;
    font-family:Arial, Helvetica, sans-serif;
    color: white !important;
    justify-content: center;
    margin: 0px 10px;

}
a{
    text-decoration: none;
    color: white;
}
.parentContainer{
    display: flex;
    flex-direction: row;
}